{% extends "base.html" %}

{% block content %}

<section class="p-5">
    <body>
        <b>Colic in horses is a serious and often life-threatening gastrointestinal illness and the leading cause of death in horses.</b>
        The unpredictable nature and the variety of symptoms colic presents make predicting the survival probability of horses difficult. 
        The primary objective of this project is to utilize a logistic regression machine learning model using a dataset acquired from Kaggle 
        that contains detailed information on horse symptoms and treatments, and whether the horse lived, died, or required euthanasia. 
        By implementing this project, I aim to reduce reliance solely on individual veterinarians' medical experience concerning colic and 
        enable medical staff to more effectively predict the horses' prognosis based on accurately calculated data. The goal is to assist horse 
        owners and veterinarians in making informed decisions concerning equine health through survival probability statistics.
    </body>
</section>



{% endblock %}